
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@200;400&family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box ;
}
/* Ajustes Generales */
body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background-color: #e9c46a ;

    display: flex;
    flex-direction: column;
}

nav {
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: #264653;
    color: #2a9d8f;
}

.titulo {
    background-color: #264653;
    display: flex;
    width: 100%;
    padding: 10px;
    min-height: 30px;
    height: 5vh;

    align-items: center;
}

.titulo h2 {
    width: 100%;
    text-align: center;
    font-size: max(5vw,1.5rem);
    font-weight: bolder;
}

.links {
    background-color: #264653;
    display: flex;
    width: 100%;
    padding: 1rem;

    font-size: 1.2rem;
}

.links ul {
    width: 100%;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}

.links li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffbe0b;
}

.provincia {
    display: flex;
}
/* esta pagina no tiene select */
/* select {
    display: flex;
}

select option {
    flex:1;
}


option:first-child {
    order: 4;
    -webkit-order: -5;
    color: blue;
} */

main .busquedaInicial {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: #fb8500;
    background-image: url(/Resultados/img/volcan-arenal.jpg);
    background-size:contain;
    background-position: center;
    display: flex;
    align-items: center;
    
}

 .Busqueda-container {
    min-width: 17rem;
    width: 80vw;
    height: 100%;
    background-color: #26465391;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;    

}

main {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/../img/volcan-arenal.jpg);
    background-size: cover;
    background-position: center;
    
}

#tituloBuscador {
    display: none;
}
/* estilos no utilizados */
/* input, select, button {
    width: 16rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    text-align: center;
}

button {
    background-color: #2A9D8F;
} */



header, footer {
    position: sticky;
    text-align: center;
    background-color: #2A9D8F;
}

footer {
    bottom: 0;
    border-top: 2px solid #264653;
    padding: 10px;
    font-weight: bold;
}

.inputCheck {
        
    max-width: 20px;
}

#provCheck {
    display: none;
}

.filtrosContainer {
    background-color: hsla(43, 76%, 60%, 0.712);
    border-radius: 6px;
} 
.filtros{
    width: 90%;
}
.filtros li {
    list-style-type: none;
    width: 100%;
    
    background-color: #e9c56a70;
 

}

.filtros li:first-child {
    
 border-radius: 5px 5px 0 0 ;

}

.filtros li:last-child {
    
    border-radius:  0 0 5px 5px ;
   
   }

.lblTitulo  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
}
.icon {
    transform: rotate(90deg);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
   
    
}

.lblTitulo + input[type="checkbox"] {
    display: none;
    
}

.filtrosContainer {
    width: 100%;
    line-height: 30px;
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.lblTitulo + input[type="checkbox"]:checked + .filtrosContainer {
    max-height: 500px;
}



.inputCheck {
    width: 100%;
    

}

.opcionIndvidual {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 color: #264653;
}

.card {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.heart-icon {
    width: 30px;
    position: relative;
    float: right;
    cursor: pointer;
    filter: invert(40%) grayscale(1%) brightness(100%) ;
}

.heart-icon-selected {
    filter: invert(40%) grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
}

.card-title{
    font-weight: bold;
    padding-bottom: 15px;
}

.card-img{
    padding-bottom: 15px;
}

.card-descdription{
    padding-bottom: 15px;
}


/* ---------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 786px){
    body {
        font-family: 'Nunito', sans-serif;
        min-height: 100vh;
        
        color: #264653;
        display: flex;
        flex-direction: column;
    }
    .barra-principal {
        width: 100%;
        min-height: 50px;
        align-items: center;
        background-color: #264653;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid #264653;
    
    }
    
    .menu-barra {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        padding-right: 20px;
        font-weight: bold;
        
    }
    
    .tituloBarra {
        padding: 10px;
    }
    
    .busquedaInicial {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        background-color: #fb8500;
        background-image: url(/../img/volcan-arenal.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        
    }
    
     .Busqueda-container {
        width: 100%;
        height: 100%;
        padding: 2rem;
        margin: 0 20px;
        background-color: #2a9d9046;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;    
    
    }
    
    .barraBusqueda, .provincia {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        min-height: 200px;;
        width: 25vw;
        height: 15vw;
        background-color: #f4a361c7;
        border: 2px solid #264653;
        border-radius: 10px;
        font-weight: bolder;
        
    }
    
    .boton-busqueda {
        width: 80px;
        height: 30px;
        background-color: #264653;
        border-radius: 7px;
        border: 2px solid #f4a361c7;
        font-weight: bolder;
        font-size: large;
        
    }
    
    .barraBusqueda label, .provincia label {
        padding: 10px;
    }

    .titulo h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    
    select , input {
        
        width: 15rem;
        border: 1px solid black;
        border-radius: 7px;
    }
    select , input, button {
        font-family: 'Nunito', sans-serif;
        color: #2A9D8F
    }
    header, footer {
        position: sticky;
        text-align: center;
        background-color: #2A9D8F;
    }
    
    header {
        top: 0;
    }
    
    footer {
        bottom: 0;
        border-top: 2px solid #264653;
        padding: 10px;
        font-weight: bold;
    }

    input[type="text"]::placeholder {
        display: none;
    }

    label {
        display: flex;
    }

    

  
} 
